@use "../base.scss";

.about {
  width: 100vw;
  height: auto;
}

.about-banner {
  width: 100vw;
  height: 50vh;

  background-image: url("../assets/background2-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-section-text {
  padding: 2rem;

  h2 {
    font-size: base.$font-h2-large;
  }

  h3 {
    font-weight: normal;
    font-size: base.$font-medium;
    margin-bottom: 5rem;

    b {
      display: flex;
      margin: 1rem 0;
    }
  }
}

.about-card {
  width: 100vw;
  padding: 2rem;
  margin-bottom: 5rem;
  text-align: center;

  background-color: whitesmoke;
  border-radius: .5rem;

  img {
    width: 15rem;
    margin-bottom: 3rem;
  }

  strong,
  p {
    font-size: base.$font-small;
  }

  strong {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
  }
}

@media (min-width: 768px) {
  .about-card {
    h2 {
      font-size: base.$font-h2-large;
    }

    p,
    strong {
      font-size: base.$font-medium;
    }
  }
}

@media (min-width: 1024px) {
  .about-banner {
    background-image: url("../assets/background2.jpg");
  }

  .about-section-text {
    padding: 5vw 10vw;

    h2 {
      font-size: base.$font-big;
      margin-bottom: 5rem;
    }

    h3 {
      font-size: base.$font-large;

      width: 60rem;
    }
  }

  .about-section-cards {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .about-card {
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: start;

    width: 100vw;
    height: 100vh;

    img {
        width: 30rem;
        margin-right: 5rem;
    }
  }

  .about-card-text {
      width: 30rem;
  }

  .about-card:last-child {
      flex-direction: row-reverse;

      p {
          width: 35rem;
      }

      img {
          margin-right: 0;
          margin-left: 5rem;
      }
  }
}