@use "../base.scss";

.download {
  background-color: whitesmoke;

  a {
    text-decoration: none;
  }
}

.download-container {
  padding: 15vh 5vw 5vh 5vw;

  h2 {
    font-size: base.$font-h2-large;
  }

  p {
    font-size: base.$font-small;
  }

  img {
    width: 100%;
    margin: 7rem auto;
    max-width: 100rem;
    padding-left: 10%;
  }
}

.download-box:last-child {
  margin-top: 5rem;
}

.download-section-buttons {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  align-items: center;
  justify-content: center;

  padding-bottom: 7rem;

  @media (min-width: 1024px) {
    width: 70vw;
  }
}

.download-button {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  flex: 45%;

  height: auto;

  background-color: rgba($color: black, $alpha: 0.8);
  border: none;
  margin: 1rem;
  padding: 0.7rem 3rem 0.7rem 1rem;

  box-shadow: base.$shadow-box;

  border-left: 40px solid white;
  border-radius: 1rem 0.5rem 0.5rem 1rem;
  border-color: base.$color-orange;

  transition: all 0.3s ease;

  button {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;

    background-color: transparent;
    border: none;
  }

  button:hover {
    background-color: transparent;
  }

  img {
    width: 3rem;
  }

  p {
    margin-bottom: 0;
    padding: 1rem 0 1rem 0.5rem;
    font-weight: 700;
  }

  @media (min-width: 768px) {
    max-width: 30rem;
  }
}

.download-button:hover {
  background-color: base.$color-orange !important;
  border-color: base.$color-orange;
}

.download-button:hover {
  background-color: #2c2e31;
}

@media (min-width: 1024px) {
  .download-container {
    padding: 15vh 5vw;

    h2 {
      font-size: base.$font-big;
    }

    p {
      font-size: base.$font-medium;
    }
  }
}
