@use "../base.scss";

.download {
  background-color: whitesmoke;
}

.download-container {
  padding: 15vh 5vw 5vh 5vw;

  h2 {
    font-size: base.$font-h2-large;
  }

  p {
    font-size: base.$font-small;
  }

  img {
    width: 100%;
    margin: 7rem auto;
    max-width: 100rem;
    padding-left: 10%;
  }
}

.download-box:last-child {
  margin-top: 5rem;
}

.download-section-buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  padding: 2rem;
  margin: auto auto 7rem auto;
  align-items: center;
  justify-items: center;

}

.download-button {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba($color: grey, $alpha: 0.5);
  box-shadow: 0 9px 17px grey;

  width: 5rem;
  height: 5rem;

  margin: auto;

  border-radius: 10rem;

  img {
    width: 3rem;
  }
}

@media (min-width: 768px) {
  .download-section-buttons {
    width: 40rem;
  }
}

@media (min-width: 1024px) {
  .download-container {
    padding: 15vh 5vw;

    h2 {
      font-size: base.$font-big;
    }

    p {
      font-size: base.$font-medium;
    }
  }

  .download-section-buttons {
    width: 50rem;
  }

  .download-button {
    width: 6rem;
    height: 6rem;

    img {
      width: 4rem;
    }
  }
}
