@use "../base";

.home {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: white;
}

// LANDING CONTAINER

.home-container-landing {
  width: 100vw;
  height: 100vh;

  background-image: url("../assets/background1-mobile.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 10rem 2.5rem 2.5rem 2.5rem;

  margin: 0;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#animationText {
  position: absolute;
}

#animationCursor {
  border-right: 4.5px solid base.$color-orange;

  animation: blink 1s infinite;
}

.btn-default {
  transition: all 300ms ease;
}

.btn-default:hover {
  background-color: white;
  color: black;

  font-weight: bold;
}

.home-text {
  margin-top: 20rem;

  font-size: base.$font-medium;
}

.iphone {
  position: absolute;
  width: 20rem;

  bottom: -75vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  border-radius: 3rem;
}

.home-section-appstores {
  display: none;
  flex-direction: column;

  margin-top: 5rem;

  p {
    font-size: base.$font-large;
  }

  img {
    width: 15rem;
  }

  img:nth-child(2) {
    margin-left: 2rem;
  }
}

// CONTENT CONTAINER

.home-container-content {
  margin-top: 40rem;

  width: 100vw;
  padding: 0 2rem;

  color: black;

  h2 {
    text-align: center;
  }

  h3 {
    text-align: center;
    font-weight: normal;

    margin: 10rem 0;
  }
}

.home-section-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;

  text-align: center;

  width: 30rem;
  height: 45rem;

  margin-bottom: 5rem;
  padding: 3rem;

  border-radius: 1rem;

  box-shadow: base.$shadow-box;

  background-color: whitesmoke;
}

.card-number {
  width: 5rem;
}

.card-text {
  font-size: base.$font-medium;
}

.card-icon {
  width: 25rem;
}

.home-section-video {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 50vh;

  margin: 10rem auto 0 -5rem;

  background-color: black;
}

.video {
  width: 40rem;
  height: 30rem;

  border-radius: .5rem;
}

.home-section-jobs {
  width: 100vw;

  margin-left: -5rem;
  padding: 15rem 0;

  text-align: center;

  background-color: base.$color-orange;

  h3 {
    max-width: 50rem;
    margin: auto;
    padding: 0 2rem;
  }

  i {
    display: flex;
    margin: 2rem 0;
  }
}

.home-section-partner {
  margin-left: -5rem;
  margin-top: -5rem;

  width: 100vw;

  background-color: base.$color-orange;

  h3 {
    padding: 0 2rem;
    text-align: start;
  }
}

// MEDIA QUERYS

// LANDING CONTAINER

@media (min-width: 768px) {
  .home-text {
    margin-top: 20rem;
  }

  .home-section-appstores {
    display: flex;
    margin-top: 5rem;

    img {
      width: 10rem;
      margin-top: 1rem;
    }

    a {
      text-decoration: none;
      color: white;
      font-size: base.$font-medium;

      width: 22rem;
      margin-top: 2rem;

      border-bottom: 3px solid white;
      padding-bottom: 0.5rem;

      span img {
        width: 2rem;
        margin: 0 0 0 1rem;
      }
    }
  }

  .iphone {
    width: 18rem;
    bottom: 5rem;
    right: 5rem;
    margin-right: 0;
  }
}

@media (min-width: 1024px) {
  .home-container-landing {
    background-image: url("../assets/background1.jpg");
  }

  .home-text {
    margin-top: 15rem;
  }

  .home-section-appstores {
    display: flex;
  }

  .iphone {
    width: 25rem;
    bottom: -5rem;
    right: 10rem;
    margin-right: 0;
  }
}

@media (min-width: 1600px) {
  .home-container-landing {
    padding: 10rem;
  }

  h1 {
    font-size: base.$font-h1-large !important;
    max-width: 25ch;
  }

  .iphone {
    right: 0;
    bottom: -10rem;
    margin-right: auto;
  }

  .home-section-calltoaction {
    position: absolute;
    bottom: 10rem;
    left: 10rem;

    p {
      font-size: base.$font-large;
    }
  }

  .btn-default {
    width: base.$btn-width-large !important;
    height: base.$btn-height-large !important;

    margin-top: 2rem;
  }

  .home-section-appstores {
    position: absolute;
    right: 10rem;
    bottom: 10rem;

    height: 50rem;
    justify-content: flex-end;

    img {
      width: 12rem;
    }
  }
}

// CONTENT CONTAINER

@media (min-width: 768px) {
  .home-container-content {
    padding: 0 5rem;
    margin-top: 10rem;
  }

  .home-section-video {
    height: 40rem;
  }

  .video {
    width: 50rem;
    height: 30rem;
  }
}

@media (min-width: 1024px) {
  .home-container-content {
    margin-top: 15rem;
  }

  .card {
    flex-direction: row;
    position: relative;

    width: 60rem;
    height: 30rem;
  }

  .card-number {
    position: absolute;
    top: 5rem;
  }

  .card-text {
    text-align: start;
  }

  .home-section-video {
    height: 60rem;
  }

  .video {
    width: 60rem;
    height: 35rem;
  }
}

@media (min-width: 1600px) {
  .home-section-video {
    height: 60rem;
  }

  .video {
    width: 80rem;
    height: 45rem;
  }
}
