@use "../base.scss";

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.linksContainer {
  height: 70vh;
  width: 70vw;
  margin: 20vh 0 20vh 0;
  overflow: hidden;

  background-color: #f58538;

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 30vw;
    margin-left: 5rem;

    img {
      width: 2.9rem;
      margin-right: 2rem;
    }

    li {
      border-bottom: 3.5px solid white;
      width: 20rem;
      padding: 2rem 0;
      text-align: center;
      font-size: 1.17rem;
      color: white;
    }

    li:last-child {
      border-bottom: none;
    }
  }

  @media (max-width: 1400px) {
    width: 100vw;

    ul {
      width: 70vw;
      margin: auto;
    }
  }

  @media (max-width: 768px) {
    width: 100vw;

    ul {
      width: auto;
      margin: auto;
    }
  }
}

.linksImage {
  width: 50vw;
  height: 70vh;

  background-repeat: no-repeat;
  background-position: right;

  @media (max-width: 1400px) {
    display: none;
  }
}

.linksImage::before {
  content: "";
  height: 50vh;
  background-color: white;
  width: 0.5rem;
  border-radius: 1rem;
  position: absolute;
  top: 5rem;
  bottom: 0;
  margin: auto;
}
