@use "../base.scss";

.ondeestamos {
  #carousel {
    background-color: whitesmoke;
    height: 50rem;
    margin: 0 3rem 7rem 3rem;
    display: flex;
    align-items: center;

    .carouselCard {
      width: 40rem;
      height: 44rem;
      width: 50%;
      background-color: white;
      margin: auto;
      border-radius: 0.5rem;
      padding: 2rem;

      .cardHeader {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;

        img {
          width: 6rem;
          height: 6rem;
          border-radius: 50%;
          margin-right: 2rem;
          border: 1px solid grey;
        }
      }

      h2 {
        color: orange;
        font-size: 2rem;
        margin: 0;
      }

      p {
        color: grey;
        font-size: 1.3rem;
        margin: 0;
      }

      .icons {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;

        .icon {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 15rem;
          margin: 1rem;

          strong {
            font-size: 1.5em;
            text-align: center;
            margin-bottom: 1rem;
          }

          img {
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            border: 1px solid grey;
          }
        }
      }
    }

    @media (max-width: 1024px) {
      margin: 0;
      padding: 0 2rem;

      .carouselCard {
        width: 90%;

        .cardHeader {
          img {
            width: 4rem;
            height: 4rem;
          }
        }

        .icons {
          width: 90% !important;
          margin: auto;

          .icon {
            width: 45%;
            margin: 1rem 0;

            strong {
              font-size: 16px;
            }

            img {
              width: 3.5rem;
              height: 3.5rem;
            }
          }
        }
      }
    }
  }

  .ondeestamosBanner {
    width: 100vw;
    height: 50vh;

    background-image: url("../assets/background2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .ondeestamosHeader {
    padding: 3rem;
    h2 {
      color: base.$color-orange;
      font-size: 2rem;
    }

    p {
      font-size: 1.2rem;
    }

    @media (min-width: 1024px) {
      width: 50vw;
    }
  }
}
