@use "../base.scss";

.restore-password-content {
  width: 100vw;
  height: 100vh;
  padding: 15vh 10vw;

  display: flex;
  flex-direction: column;
  align-items: center;

  h5 {
    display: none;
    -text-align: center;
    font-size: base.$font-small;
    color: red;
  }

  form {
    display: flex;
    flex-direction: column;

    label {
      font-size: base.$font-small;
      margin-left: 0.5rem;
      margin-bottom: 0.5rem;
    }

    input {
      border: 3px solid base.$color-orange;
      border-radius: 0.5rem;
      width: 20rem;
      height: 3.5rem;

      margin-bottom: 3rem;
      padding: 0 1rem;

      outline: none;
    }

    input[type="submit"] {
      background-color: base.$color-orange;

      font-size: base.$font-small;
      font-weight: bold;
      color: white;

      box-shadow: base.$shadow-box;
    }
  }

  .input-container {
    position: relative;
  }

  .input-icon {
    position: absolute;
    right: 1rem;
    top: 1rem;

    font-size: 1.7rem;
    cursor: pointer;
  }

  ::placeholder {
    color: rgba($color: black, $alpha: 0.7);
  }
}

.restore-password-title {
  font-size: base.$font-h2;
  margin-bottom: 1rem;
}

.restore-password-text {
  font-size: base.$font-small;
  margin-bottom: 5rem;
}

.restore-password-success {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 0 10vw;
  text-align: center;

  width: 100vw;
  height: 100vh;

  a {
    color: base.$color-orange;
    font-size: base.$font-small;
    font-weight: bold;
  }
}

.loader {
  width: 100vw;
  height: 100vh;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-right: auto;
  margin-left: auto;

  overflow: visible;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: base.$color-orange transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 768px) {
  .restore-password-content {
    padding: 20vh 0;

    form {
      input {
        width: 25rem;
        height: 4rem;
      }
    }
  }

  .restore-password-title {
    font-size: base.$font-h2-large;
  }

  .restore-password-text {
    font-size: base.$font-medium;
  }

  .restore-password-success {
    width: 40rem;
    margin: auto;
  }
}

@media (min-width: 1024px) {
  .restore-password-success {
    width: 50rem;
  }

  .restore-password-title {
    font-size: base.$font-big;
  }
}
