@use "../base.scss";

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: start;

  background-color: base.$color-orange;
  color: white;

  background-image: url("../assets/wave.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;

  overflow: hidden;

  h3 {
    margin: 0;
    text-align: start;
    font-weight: bold;
  }

  p {
    font-size: base.$font-small;
    margin: 2rem 0;
  }

  .lds-ring div {
    border-color: white transparent transparent transparent !important;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;

  padding: 0 3rem;
  padding-top: 3rem;
}

.form-element {
  display: flex;
  flex-direction: column;

  width: 25rem;
  margin-bottom: 7rem;
}

.loader {
  margin-bottom: -0.2rem;
}

.form-success {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: auto;
  height: 50vh;
  color: white;

  text-align: center;

  margin-bottom: -0.1rem;

  h2 {
    color: white;
    font-size: base.$font-h2;
  }

  p {
    font-size: base.$font-small;
  }
}

@media (min-width: 768px) {
  .form-success {
    h2 {
      font-size: base.$font-h2-large;
    }

    p {
      font-size: base.$font-medium;
    }
  }
}
