// GENERAL CONFIG

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  scroll-behavior: smooth;
  font-family: DinPro, sans-serif;

  font-size: 88%;
}

@font-face {
  font-family: DinPro;
  src: url("./fonts/DinPro-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: DinPro;
  src: url("./fonts/DinPro-Bold.ttf");
  font-weight: bold;
}

// VARIABLES

$color-orange: #f18a33;
$color-green: #52e899;

$font-small: 1.1rem;
$font-medium: 1.4rem;
$font-large: 1.7rem;
$font-big: 3.5rem;

$font-h1: 2.5rem;
$font-h1-large: 3rem;

$font-h2: 2rem;
$font-h2-large: 2.5rem;

$font-h3: 1.8rem;

$font-copyright: 0.7rem;

$btn-width-large: 20rem;
$btn-height-large: 4.5rem;

$shadow-box: rgba(0, 0, 0, 0.35) 0px 5px 15px;

// REUSABLE STYLES

.show {
  display: block !important;
}

.hide {
  display: none;
}

// LOADER

.loader {
  width: 100vw;
  height: 100vh;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-right: auto;
  margin-left: auto;

  overflow: visible;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $color-orange transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// ANIMATIONS

//Hs

h1 {
  font-size: $font-h1;
  font-weight: bold;
}

h2 {
  font-size: $font-h2;
  font-weight: bold;
}

h3 {
  font-size: $font-h3;
  font-weight: bold;
}

.orange {
  color: $color-orange;
}

// BUTTONS

.btn-default {
  width: 15rem;
  height: 3.5rem;

  border: 3px solid white;
  border-radius: 0.5rem;

  background-color: transparent;
  color: white;

  font-size: $font-medium;
}

// FORM

.form-input {
  width: 20rem;
  height: 3.5rem;

  outline: none;
  border: 3px solid white;
  border-radius: 0.5rem;

  padding: 0 1rem;
  margin: 1rem auto;

  font-size: 1rem;

  background-color: transparent;
  color: white;
}

::placeholder {
  color: white;
}

.form-button {
  width: 20rem;
  height: 3.5rem;
  margin: 2rem 0;

  outline: none;
  border: none;
  border-radius: 0.5rem;

  box-shadow: $shadow-box;

  background-color: white;
  color: black;

  font-size: $font-small;
  font-weight: bold;

  align-self: center;
}

@media (min-width: 768px) {
  .form-input {
    width: 25rem;
  }

  .form-button {
    width: 25rem;
  }
}

@media (min-width: 1024px) {
  .form-element {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    column-gap: 2rem;

    width: auto;
    height: 35rem;

    position: relative;
    overflow-y: visible;
  }

  .form-button {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: -1rem;
  }
}

a.header-link.download {
  background: transparent !important;
}

.multipleImagesBanner {
  display: flex;
  width: 100vw;
  height: 40vh;
  align-items: center;
  justify-content: space-between;
  margin-top: 5rem;

  .imageDiv {
    width: 17%;
    height: 100%;
    min-width: 25rem;
    overflow: scroll;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .imageDiv::-webkit-scrollbar {
    display: none;
  }
}
